.box-layout {
    align-items: center;
    background: url("/images/landing.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.box-layout__box {
    background: fade-out($color: rgba(0, 0, 0, 0.422), $amount: 0.15);
    border-radius: 3px;
    padding: $l-size $l-size;
    text-align: center;
}

.box_layout__logo{
    height: 20rem;
}

.box-layout__title {
    color: $off-white;
    margin: 0 0 $m-size 0;
    line-height: 1;
}
