
.button {
    background: #AA63A5;
    border: none;
    color: white;
    display: inline-block;
    font-size: $font-size-small;
    font-weight: 300;
    line-height: 1;
    padding: $s-size;
    margin: 10px;
    border-radius: 4px;
    text-decoration: none;
    border: 1px solid white;
    width: 100%
}

.button--link {
    background: none;
    border:none;
    color:$dark-grey;
    font-size: $font-size-large;
    &:hover{
        color: $main-color;
    }
    
}

.button--secondary {
    background: #888888;
    width: auto;
}

.button--view {
    background: none;
    color: $dark-grey;
    width: auto;
    margin: 0;
    padding: 0;
}

.button--search{
    background: none;
    color: $off-white;
    width: auto;
    border: none;
    margin: 0;
    font-size: $m-size;
    padding: $m-size;
    outline: none;
    &:hover{
        color: $dark-grey;
    }
    &:focus{
        outline: none;
    }
}

.button--close{
    background: none;
    color: $dark-grey;
    width: auto;
    border: none;
    margin: 0;
    font-size: $m-size;
    padding: $m-size;
    outline: none;
    &:hover{
        color: $main-color;
    }
    &:focus{
        outline: none;
    }
}

.button__card {
    display: block;
    width: 120px;
    margin:auto;
    text-align: center;
    font-size: 12px;
    color: $main-color;
    line-height: 1;
    position: relative;
    font-weight: 300;
    font-size: $font-size-small;
    border: none;
    outline: none;
    &::after {
      content: '\2192';
      opacity: 0;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(0, -50%);
      transition: all 0.3s;
    }
    &:hover {
      &::after {
        transform: translate(5px, -50%);
        opacity: 1;
      }
    }
  }