.loader {
    align-items: center;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;

    
}

.loader_image {
    height: 12rem !important;
    width: 12rem !important;
}