.navbar__list{
    color: $dark-grey;
    list-style: none;
    padding: 0;

    li{
        display: inline-block;
    }
}

.navbar__item{
    font-size: $m-size;
    
    text-decoration: none;
    padding: 0 $s-size;
}

.navbar__item:visited{
    color: $dark-grey;
}
.navbar__item:hover{
    color: $dark-grey;
}