* {
        /*transition*/
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
        font-family: helvetica neue, helvetica, arial, sans-serif;
        font-size: 18px;
        line-height: 18px;
        box-sizing: border-box;
        margin: 0;
}

body {
        background: #f8f8f8;
}

h1 {
        text-align: center;
        padding: 50px 0;
        font-size: 30px;
        margin: 0;
        font-weight: 200;
        color: #454545;
}

.day {
        text-align: left;
        padding-bottom: 10px;
        padding-top: 10px;
}

h1 .fa-check {
        font-size: 30px;
        margin-right: 10px;
        color: #8F3985;
}

#todo-list {
        width: 400px;
        margin: 0 auto 50px auto;
        padding: 25px;
        background: white;
        position: relative;
        /*box-shadow*/
        -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
        /*border-radius*/
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
}

#todo-list:before {
        content: "";
        position: absolute;
        z-index: -1;
        /*box-shadow*/
        -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
        top: 50%;
        bottom: 0;
        left: 10px;
        right: 10px;
        /*border-radius*/
        -webkit-border-radius: 100px / 10px;
        -moz-border-radius: 100px / 10px;
        border-radius: 100px / 10px;
}

.todo-wrap {
        display: block;
        position: relative;
        /*box-shadow*/
        -webkit-box-shadow: 0 2px 0 -1px #ebebeb;
        -moz-box-shadow: 0 2px 0 -1px #ebebeb;
        box-shadow: 0 2px 0 -1px #ebebeb;
}

.todo-wrap:last-of-type {
        /*box-shadow*/
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
}

input[type="checkbox"] {
        position: absolute;
        height: 0;
        width: 0;
        opacity: 0;
        top: -600px;
}

.todo {
        display: inline-block;
        font-weight: 200;
        padding: 10px 5px;
        height: 37px;
        position: relative;
}
.todo-meal {
        display: inline-block;
        font-weight: 200;
        padding: 10px 5px;
        height: 37px;
        position: relative;
}
.todo-title {
        display: inline-block;
        font-weight: 200;
        padding: 10px 5px;
        height: 37px;
        position: relative;
}

.todo:before {
        content: '';
        display: block;
        position: absolute;
        top: calc(50% + 2px);
        left: 0;
        width: 0%;
        height: 1px;
        background: #8F3985;
        /*transition*/
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
}



